<div class="nav">
    <style>
        .logo {
            max-width: 300px;
            height: auto;
        }
    </style>
    <header>
        <img src="/open_lecture_time_logo.png" alt="Open Lecture Time" class="logo">
    </header>
</div>